@model Petalos.Models.ViewModels.FloresViewModel

@{
    Layout = "_Layout";
}

 <section class="post">
        <h2>@Model.Flores.Nombre</h2>
        <h4>Nombre científico o latino:</h4>
        <p>@Model.Flores.Nombrecientifico</p>
        <h4>Nombre común:</h4>
        <p>@Model.Flores.Nombrecomun</p>
        <h4>Origen:</h4>
        <p>@Model.Flores.Origen</p>
        <h4>Descripción:</h4>
        <p>
            @Model.Flores.Descripcion
        </p>
     <div id="imagenes">
            @foreach (var img in Model.Flores.Imagenesflores)
            {
                <img title="@img.Nombreimagen" src="~/images/@img.Nombreimagen" />              
            }
        </div>
    </section>
    <aside>
        <nav>
            <h2>Menú</h2>
            <ul>
                @foreach (var mas in Model.Masflores)
                {
                    <li><a href='~/Flor/@mas.Idflor'>@mas.Nombre</a></li>
                }
            </ul>
        </nav>
    </aside>

